# Acceptance Test Report

## Memory Usage (Phpolar\MemoryUsage)

- [x] Memory usage for a get request shall be below 175000 bytes

## Project Size (Phpolar\ProjectSize)

- [x] Source code total size shall be below 19000 bytes
